.FaqWrapper {
  position: relative;
  padding-left: 10px;
  padding-top: 160px;

  .accordion-header {
    display: flex;
    line-height: 55px;
    margin-bottom: 50px;
    > button {
      padding: 0;
      font-size: 40px;
      text-align: right;
      background: none;
      color: #353535;
      box-shadow: none;
      border: none;
      width: auto;
      margin-bottom: 0;
      &:after {
        content: none;
      }
      @media(max-width: 768px) {
        font-size: 20px;
        line-height: 26px;
        text-align: left;
      }
    }
    @media(max-width: 768px) {
      margin-bottom: 30px;
    }
  }
  .accordion-item:first-of-type .accordion-button {
    border: none;
  }
  .accordion-item {
    border: none !important;
    background: none;
  }
  .accordion-body {
    padding: 0;
  }
  .accordion {
    margin-bottom: 64px;
    @media(max-width: 768px) {
      margin-bottom: 35px;
    }
  }

  &__logo-wrapper {
    position: absolute;
    top: 0;
    right: 60px;
    width: 320px;
  }

  @media(max-width: 768px) {
    padding-top: 0;

    &__logo-wrapper {
      position: initial;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
    }
  }
}
