.Welcoming__wrapper {
  display: flex;
  height: 100%;
  padding: 0 100px;
  max-width: 1712px;
  margin: 0 auto 184px;

  @media(max-width: 768px) {
    flex-direction: column;
    margin-bottom: 108px;
    padding: 0 20px;
    width: calc(100% - 40px);
  }
}

.Welcoming__left-side {
  width: 49%;
  @media(max-width: 768px) {
    width: 100%;
  }
}

.Welcoming__right-side {
  width: 51%;
  @media(max-width: 768px) {
    width: 100%;
  }
}

.Welcoming__logo-wrapper {
  margin-bottom: 36px;
  margin-top: 70px;
  @media(max-width: 768px) {
    margin-bottom: 38px;
  }
  @media(max-width: 375px) {
    width: 336px;
    margin: 70px 0 38px 0;
  }
}

.Welcoming__logo {
  margin-bottom: 36px;
  margin-top: 70px;
  @media(max-width: 768px) {
    margin-bottom: 38px;
  }
  @media(max-width: 375px) {
    width: 336px;
    margin: 70px 0 38px 0;
  }
}

.Welcoming__description {
  margin-bottom: 42px;
  line-height: 36px;  
  max-width: 713px;
  font-size: 30px;
  line-height: 40px;
  @media(max-width: 768px) {
    margin-bottom: 25px;
    line-height: 20px;
    letter-spacing: 0.04em;
    font-size: 16px;
  }
}