

.FooterMessengers {
    position: relative;
    width: 182px;
    height: 310px;
  
    &__link {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 117px;
      height: 117px;
  
      &:first-child {
        right: 0;
        top: 0;
      }
      &:nth-child(2) {
        left: 0;
        top: 65px;
      }
      &:nth-child(3) {
        right: 0;
        top: 130px;
      }
      &:nth-child(4) {
        left: 0;
        top: 195px;
      }
    }

    &__img {
      width: 62px;
      height: 62px;
    }

    &__img2 {
      width: 52px;
      height: 52px;
    }
  
    @media(max-width: 768px) {
      width: 100px;
      height: 140px;
  
      &__link {
        width: 60px;
        height: 60px;
    
        &:first-child {
          right: 0;
          top: 0;
        }
        &:nth-child(2) {
          left: 0;
          top: 30px;
        }
        &:nth-child(3) {
          right: 0;
          top: 98px;
        }
        &:nth-child(4) {
          left: 0;
          top: 146px;
        }
      }

      &__img {
        width: 28px;
        height: 28px;
      }
    }
  }