

.FooterWrapper {
  min-height: 984px;
  margin-bottom: 40px;

  &__content {
    display: flex;
  }

  &__messengers {
    position: absolute;
    bottom: -260px;
    left: 18px;
  }

  &__mode-details {
    display: flex;
    justify-content: flex-end;
    margin-top: 76px;
    width: 100%;
    align-items: center;
    padding-right: 136px;
  }

  @media(max-width: 1366px) {
    &__mode-details {
      padding-right: 80px;
    }
  } 

  @media(max-width: 1366px) {
    &__mode-details {
      padding-right: 60px;
    }
  } 

  @media(max-width: 768px) {
    padding-left: 10px;

    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__messengers {
      position: absolute;
      bottom: -260px;
      left: 18px;
    }
  }
}
