@font-face {
	font-family: 'Aeroport';
	src: url('Aeroport-monospaced.eot');
	src: local('☺'), url('Aeroport-monospaced.woff') format('woff'), url('Aeroport-monospaced.ttf') format('truetype'), url('Aeroport-monospaced.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kobzar';
	src: url('ofont.ru_Kobzar KS.eot');
	src: local('☺'), url('ofont.ru_Kobzar KS.woff') format('woff'), url('ofont.ru_Kobzar KS.ttf') format('truetype'), url('ofont.ru_Kobzar KS.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
