.MainCourseOne{
  width: 100%;
  &__rombs-list {
    display: flex;
    width: 100%;
    margin: 40px auto 0;
    align-items: center;
    justify-content: space-between;

    &:nth-child(2) {
      justify-content: flex-end;
    }
    &:nth-child(3) {
      flex-direction: row-reverse;
    }
    &:nth-child(4) {
      justify-content: flex-start;
    }
  }
}